@import "reset.css";
#header-picture-wrapper{
    position: relative;
    width: 100%;
    height: 400px;
}
#headers-wrapper{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    border: 1px solid darkblue;
    height: 60px;
    width: 100%;
    color: white;
}
.header-item{
    display: inline-block;
}
#logo-wrapper{
    border: 1px solid green;
}
.menu-item{
    border: 1px solid red;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
#sign-in-logo{
    border: 1px solid black;
}
#menu-navigation{
    border: 1px solid orange;
}
#picture-wrapper{
    float: left;
    width: 100%;
    height: 800px;
}
#image{
    width: 100%;
}
#additional-info{
    background-color: lightgray;
    height: 400px;
    width: 100%;
}
#footer-wrapper{
    border: 2px solid darkgoldenrod;
    display: flex;
    background: rgb(4,1,64);
    background:  linear-gradient(90deg, rgba(4,1,64,1) 0%, rgba(6,5,87,1) 30%, rgba(10,9,103,1) 53%, rgba(27,27,167,1) 100%);
}
.footer-item{
    color: lightgrey;
    flex: 1;
    border: 1px solid darkred;
    display: inline-block;
    font-size: 14px;
}
.footer-item-title{
    font-size: 17px;
    font-weight: bold;
}